ConsoleApplications/FTPDownload/Service References/JigSaw/assetservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://support.dell.com/WebServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://support.dell.com/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Asset and Entitlement information.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://support.dell.com/WebServices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAssetInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceTags" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssetInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssetInformationResult" type="tns:ArrayOfAsset" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAsset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AssetHeaderData" type="tns:AssetHeaderData" />
          <s:element minOccurs="0" maxOccurs="1" name="Entitlements" type="tns:ArrayOfEntitlementData" />
          <s:element minOccurs="0" maxOccurs="1" name="DupilcateAssets" type="tns:ArrayOfAsset" />
          <s:element minOccurs="0" maxOccurs="1" name="UserMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AssetHeaderData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Buid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemShipDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntitlementData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntitlementData" nillable="true" type="tns:EntitlementData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntitlementData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLevelCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceLevelDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Provider" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DaysLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntitlementType" type="tns:EntitlementType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EntitlementType">
        <s:restriction base="s:string">
          <s:enumeration value="Expired" />
          <s:enumeration value="Active" />
          <s:enumeration value="Future" />
          <s:enumeration value="Credited" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAssetInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssetInformation" />
  </wsdl:message>
  <wsdl:message name="GetAssetInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssetInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="AssetServiceSoap">
    <wsdl:operation name="GetAssetInformation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Asset and Entitlement information</wsdl:documentation>
      <wsdl:input message="tns:GetAssetInformationSoapIn" />
      <wsdl:output message="tns:GetAssetInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AssetServiceSoap" type="tns:AssetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssetInformation">
      <soap:operation soapAction="http://support.dell.com/WebServices/GetAssetInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AssetServiceSoap12" type="tns:AssetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssetInformation">
      <soap12:operation soapAction="http://support.dell.com/WebServices/GetAssetInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssetService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Asset and Entitlement information.</wsdl:documentation>
    <wsdl:port name="AssetServiceSoap" binding="tns:AssetServiceSoap">
      <soap:address location="http://esupport.dellsvc/jigsaw/assetservice.asmx" />
    </wsdl:port>
    <wsdl:port name="AssetServiceSoap12" binding="tns:AssetServiceSoap12">
      <soap12:address location="http://esupport.dellsvc/jigsaw/assetservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>