ConsoleApplications/WPFTest/Service References/LearningCenterService/IWarrantyCapabilityApi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dell.Tribbles.Plugins.Warranty.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dell.Tribbles.Plugins.Warranty.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWarrantyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarrantyInfo" nillable="true" type="tns:WarrantyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarrantyInfo" nillable="true" type="tns:ArrayOfWarrantyInfo" />
  <xs:complexType name="WarrantyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntitlementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceLevelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceLevelDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceLevelGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarrantyInfo" nillable="true" type="tns:WarrantyInfo" />
</xs:schema>